.scroll {
  display: block;
  width: 100%;
  height: 35rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.scroll::-webkit-scrollbar-track {
  border: 0px solid #a60311;
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #a60311;
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-button {
  height: 3%;
}

.scroll::-webkit-scrollbar {
  width: 0.5rem;
}

/* .tap-list {
  background: none;
  list-style: none;
  font-family: Verdana, Arial;
  font-size: 20px;
}
li:focus {
  color: white !important;
  outline: none;
} */
.location {
  font-size: 1px;
  color: rgba(255, 255, 255, 0);
}

@media only screen and (min-width: 1160px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }

  .logo {
    grid-column: 1;
    grid-row: 2 / 3;
    width: 100%;
    height: 80px;
  }
  .slogan {
    font: oblique bold 135% cursive;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .one {
    grid-column: 1;
    grid-row: 1 / 6;
    /* background-color: #2d8fc7; */
    background: linear-gradient(
      0deg,
      rgba(215, 116, 116, 0.26) 0%,
      rgb(199, 45, 45) 100%
    );
    border-radius: 0px 0px 8px 0px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .legend {
    grid-column: 1;
    grid-row: 4 / 5;
    font-family: Verdana, Arial;
    font-size: 20px;
    color: #fff;
  }
  .contact {
    grid-column: 1;
    grid-row: 5;
    font-family: Verdana, Arial;
    color: #fff;
  }

  .body {
    grid-column: 2 / 6;
    grid-row: 1 / 6;
    border-radius: 0px 0px 0px 8px;
  }

  .header {
    overflow: hidden;
    padding: 5px 10px;
  }

  .icons-deitails {
    font-size: 2rem;
    padding: 0.3rem 0rem;
  }
  .title {
    color: #a60311;
    font-size: 20px;
    font-family: Verdana, Arial;
  }
  .paragraph {
    float: justify !important;
    margin-bottom: 10px;
    font-size: 1rem;
    font-size: 17px;
    font-family: Verdana, Arial;
    margin: -0.5rem 0rem;
  }

  .text {
    float: right;
    font-family: Verdana, Arial;
    margin: 0rem 0.2rem;
  }

  .content {
    margin: -0.3rem 1rem;
    padding: 1rem;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 8px;
    background: rgba(238, 236, 236, 0.322);
  }

  .react-tabs__tab-list {
    background-color: #a60311;
    padding: 1.3rem;
    border-radius: 8px;
  }
  /* .aling {
    float: left;
    padding: 0rem 3rem;
    margin-top: -0.7rem;
  } */
}
@media only screen and (min-width: 400px) and (max-width: 689px) {
  .legend {
    grid-column: 1 / 6;
    grid-row: 3;
    padding-top: 10rem;
  }
}
@media only screen and (min-width: 690px) and (max-width: 972px) {
  .legend {
    grid-row: 3;
    padding-top: 20rem;
  }
}
@media only screen and (min-width: 973px) and (max-width: 1159px) {
  .legend {
    grid-column: 1 / 6;
    grid-row: 3;
    padding-top: 30rem;
  }
}
@media only screen and (max-width: 399px) {
  .legend {
    grid-column: 1 / 6;
    grid-row: 3;
  }
}
@media only screen and (max-width: 1159px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }

  .logo {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    width: 100%;
    height: 80px;
    margin-bottom: 2.5rem;
  }
  .one {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    /* background-color: #2d8fc7; */
    background: linear-gradient(
      0deg,
      rgba(215, 116, 116, 0.26) 0%,
      rgb(199, 45, 45) 100%
    );
    border-radius: 0px 0px 8px 0px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .legend {
    font-family: Verdana, Arial;
    font-size: 20px;
    color: #fff;
  }
  .contact {
    grid-column: 1 / 6;
    grid-row: 7 / 8;
    font-family: Verdana, Arial;
    color: rgb(0, 0, 0);
  }

  .body {
    grid-column: 1 / 6;
    grid-row: 4 / 7;
    background: rgb(255, 255, 255);
    border-radius: 0px 0px 0px 8px;
  }

  .header {
    overflow: hidden;
    padding: 5px 10px;
  }

  .icons-deitails {
    font-size: 2rem;
    padding-left: 0.5rem;
    float: left;
  }
  .title {
    color: #a60311;
    font-size: 20px;
    font-family: Verdana, Arial;
  }
  .paragraph {
    float: justify !important;
    margin-bottom: 10px;
    font-size: 1rem;
    font-size: 17px;
    font-family: Verdana, Arial;
    margin: -0.5rem 0rem;
  }

  .text {
    float: right;
    font-family: Verdana, Arial;
    padding: 0rem 0.5rem;
    font-size: 1rem;
  }

  .content {
    margin: -0.3rem 1rem;
  }

  .react-tabs__tab-list {
    background-color: #a60311;
    padding: 1rem 0.5rem;
    border-radius: 8px;
  }
  /* .aling {
    padding: 0rem;
  }
  .tap-list {
    padding-bottom: 1.3rem;
  } */
}
